@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-link {
  .link-none {
    text-decoration: none;
    color: red;
  }
}

@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
    margin: {
      left: 0;
      right: 2em;
    }
  }
}

nav {
  @include reset-link;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: aliceblue;
  ul {
    @include horizontal-list;
  }
  a {
    text-decoration: none;
    color: #80a1f4;
    padding: 10px 10px;
    border-radius: 5px;
    &:active {
      color: red;
    }
    &:hover {
      border-bottom: 2px solid blue;
      border-radius: 0.5px;
    }
  }
}
