* {
  box-sizing: border-box;
  margin: 0;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-link {
  .link-none {
    text-decoration: none;
    color: red;
  }
}

@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
    margin: {
      left: 0;
      right: 2em;
    }
  }
}

nav {
  @include reset-link;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  // margin-bottom: 1em;

  font-family: "Raleway", sans-serif;

  // box-shadow: 5px 0px 7px rgb(133, 132, 132);
  ul {
    @include horizontal-list;
  }
  .NavItem a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #0f1928 !important;
    font-weight: lighter;
    &:hover {
      border-bottom: 2px solid aliceblue;
      border-radius: 0.5px;
    }
  }
}

.gradient-bar {
  display: flex;
  background-image: linear-gradient(to right, #0138ae, #238fda);
  height: 30px;
  align-items: center;
  justify-content: flex-end;
}

@import url("https://fonts.googleapis.com/css2?family=Chathura:wght@300&display=swap");
.old-popup {
  box-shadow: 1px 1px 0.5px 0.5px #ffffff inset,
    -1px -1px 0.5px 0.5px #5a5a5a inset;
  font-family: "Chathura", sans-serif;
  font-weight: 400;
  .popup-content {
    display: flex;
    align-items: center;

    span {
      margin: 1em;
    }
    p {
      // color: transparent;
      // text-shadow: 0 0 0.3px #000;
    }
  }
  .old-button {
    justify-self: flex-end;
    align-items: center;
    p {
      all: none;
      line-height: 0.55em;
      font-size: 2em;
      color: transparent;
      text-shadow: 0 0 0.3px #000;
      font-weight: bolder;
      margin-inline: 0.1em;
    }
    box-sizing: border-box;
    // position: relative;
    background-color: #c5c5c5;
    box-shadow: 1.5px 1.5px 1px 1px #000000, 1px 1px 0.5px 0.5px #ffffff inset,
      -1px -1px 0.5px 0.5px #5a5a5a inset;
    margin: 5px;
    // left: 95%;
  }
}
